# Atividade Modulo 2

#Atividade 1

In [1]:
name = ("Douglas Mateus de Oliveira")
name2 = ("Douglas Oliveira")
name3 = ("Douglas")
name4 = ("Douglas")

In [2]:
print (name == name2)

False

In [3]:
print ( name == name2 == name3)

False

In [4]:
print (name3 == name4)

True

#Atividade 2

In [5]:
num = 272
num2 = 54

In [6]:
print (num%num2)

2

In [7]:
print (num/num2)

5.037037037037037

#Atividade 3

In [8]:
dic = {"Douglas": 35, "Daiana": 20, "Liliam":10 }

In [9]:
print (dic)

{'Douglas': 35, 'Daiana': 20, 'Liliam': 10}

In [10]:
dic["Maria"] = 2

In [11]:
print (dic)

{'Douglas': 35, 'Daiana': 20, 'Liliam': 10, 'Maria': 2}

In [12]:
len (dic)

4

In [13]:
dic ["Douglas"] =22

In [14]:
print (dic)

{'Douglas': 22, 'Daiana': 20, 'Liliam': 10, 'Maria': 2}

In [15]:
dicCliente = {"Nome": "Douglas", "Idade": 28, "totalCompras": 25}
dicCliente2= {"Nome": "Daiana", "Idade":27, "totalCompras":10}
dicCliente3= {"Nome": "Liliam", "Idade": 57, "totalCompras":2}

In [16]:
print (dicCliente)
print (dicCliente2)
print (dicCliente3)

{'Nome': 'Douglas', 'Idade': 28, 'totalCompras': 25}
{'Nome': 'Daiana', 'Idade': 27, 'totalCompras': 10}
{'Nome': 'Liliam', 'Idade': 57, 'totalCompras': 2}